# idea
.idea

# npm
node_modules
*.log

# databases
*.sqlite3

# config
/api_key.js
/password.js

# overlays
overlay/playersT1.txt
overlay/playersT2.txt
overlay/scoreT1.txt
overlay/scoreT2.txt
overlay/time.txt
overlay/killfeed.txt

#match logs
match*.txt