This script is designed to follow the Briggs ThunderDome Rules:
Stats can be changed though

    Currently:

	Infantry versus infantry kills:  2 points.
        	can be edited by editing the category_map with the points for weapon category in items.js

	Infantry versus MAX kills with any weapon/tool/explosive:  5 points.
	    	can be edited in the function itsPlayerData()

	Infantry versus infantry kills with explosives*:  0 points. (C4, Prox/Betty/Claymore, Rockets)
        	can be edited by editing the category_map with the points for weapon category in items.js

	Infantry versus infantry kills with engineer turrets:  1 point.
        	can be edited by editing the category_map with the points for weapon category in items.js

	Infantry kills with shotguns (as a whole): 0 points
        	can be edited by editing the category_map with the points for weapon category in items.js

	MAX versus infantry kills:  1 point.
        	can be edited in the function itsPlayerData()

	MAX versus MAX kills:  3 points.
	    	can be edited in the function itsPlayerData()

	Team kills:  -5 points.
        	can be edited in teamOneTeamKill() and teamTwoTeamkill()

	Infantry suicide: -2 points.
        	can be edited in teamOneSuicide() and teamTwoSuicide()

	MAX suicide: -5 points.
        	can be edited in itsPlayerData()

	Neutral base capture:  10 points.
        	can be edited in the function itsFacilityData()

	Enemy base capture:  25 points.
	    	can be edited in the function itsFacilityData()

	Timer: 15 minutes (900 seconds)
		can be edited in the function startTimer() [timeCounter]. 
