	ThunderDome Rules:

*	Infantry versus infantry kills:  2 points.

	Infantry versus MAX kills with any weapon/tool/explosive:  5 points.

	Infantry versus infantry kills with explosives*:  0 points.

	Infantry versus infantry kills with engineer turrets:  1 point.

	Infantry kills with shotguns (as a whole): 0 points

	MAX versus infantry kills:  1 point.

	MAX versus MAX kills:  3 points.

	Team kills:  -5 points.

	Infantry suicide: -2 points.

	MAX suicide: -5 points.

	Neutral base capture:  10 points.

	Enemy base capture:  25 points.

* (C4, Prox/Betty/Claymore, Rockets)
