<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }} : admin</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body role="document">

<div class="page-header">
    <h1 style="text-align: center">{{ title }}</h1>
</div>
<div id="adminPanel">
    <!-- Left Side -->
    <div class="col-md-6">
        <div class="adminForm">
            <form id="outfits">
                <h3>Start Match</h3>
                <p class="inline">Team 1 Tag: </p><input type="text" size="4" maxlength="4" id="T1Tag" placeholder="FCLM">
                <br> <br>
                <p class="inline">Team 2 Tag: </p><input type="text" size="4" maxlength="4" id="T2Tag" placeholder="FCLN">
                <br> <br>
                <p class="passw inline">Password: </p><input type="text" size="8" id="pwStart">
                <input id="start" type="submit" value="Track" onclick="return submitForm(this)">
            </form>
        </div>
        <hr class="feature-divider">
        <!-- Stop Match -->
        <div class="adminForm">
            <form id="stopRestart">
                <h3>Stop Match</h3>
                <p class="passw inline">Password: </p><input id="pwstop" size="8" type="text">
                <input id="stop" type="submit" value="Stop" onclick="return submitForm(this)">
            </form>
        </div>
        <hr class="feature-divider">
        <!-- Start a New Round -->
        <div class="adminForm">
            <form id="">
                <h3>Second Round (only use AFTER round one is finished) </h3>
                <p class="passw inline">Password: </p><input id="pwRound2" type="text" size="8">
                <input id="Round2" type="submit" value="Start Second Round" onclick="return submitForm(this)">
            </form>
        </div>
        <hr class="feature-divider">
    </div>
    <!-- Right Side -->
    <div class="col-md-6">
        <!-- Adjust score -->
        <div class="adminForm">
            <form id="adjustScore">
                <h3>Adjust Score</h3>
                <p class="inline">Team 1: </p><input type="number" size="4" maxlength="4" id="T1Adjust" placeholder="2">
                <br> <br>
                <p class="inline">Team 2: </p><input type="number" size="4" maxlength="4" id="T2Adjust" placeholder="-8">
                <br> <br>
                <p class="inline">Reason: </p><input type="text" size="20" id="reason" placeholder="Spawn Beacon Usage">
                <br> <br>
                <p class="passw inline">Password: </p><input type="text" size="8" id="pwAdjust">
                <input id="adjust" type="submit" value="Adjust" onclick="return submitForm(this)">
            </form>
            <p>Leave team blank if only adjusting one side</p>
        </div>
        <hr class="feature-divider">
        <!-- Ruleset -->
        <div class="adminForm">
            <h3>Rule Set</h3>
            <p>Current weapon rules: {{catMap}}</p>
            <p>Current class rules: {{pointMap}}</p>
            <a href="rules">View / Adjust rules >></a>
        </div>
        <hr class="feature-divider">
    </div>
</div>

<footer class="footer">
    <p style="text-align: center">All participants must be in the participating outfit ~60seconds before starting the script to ensure they are tracked</p>
    <hr class="feature-divider">
    <p>Created by Dylan C (DylanNZ), Jared H (MonoNZ) and Richard H (Dalordish) of
        <a href="https://fifthcolumngaming.com">[FCLM] Fifth Column</a> ·
        For any changes to the script send a message to DylanNZ on <a href="https://www.reddit.com/message/compose?to=Dylan_NZL">reddit</a> ·
        Credit to x who developed the original concept
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/adminControls.js"></script>
</body>
</html>