<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }} : admin</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body role="document">

<div id="stats">
    <h1>{{ title }}</h1>
    <form id="outfits">
        <input type="text" size="4" maxlength="4" id="T1Tag" placeholder="FCLM">
        <h3 id="verse" class="inline"> v </h3>
        <input type="text" size="4" maxlength="4" id="T2Tag" placeholder="FCLN">
        <br> <br>
        <h3 id="passw" class="inline">Password: </h3>
        <input type="text" size="8" id="pwStart">
        <input id="start" type="submit" value="Track" onclick="return submitForm(this)">
    </form>
    <br>
    <br>
    <form id="stopRestart">
        <h3>Stop Match:</h3>
        <input id="pwstop" size="8" type="text">
        <input id="stop" type="submit" value="Stop" onclick="return submitForm(this)">
    </form>
    <br>
    <br>
    <form id="">
        <h3>Second (or more) Round: (only use AFTER round one is finished) </h3>
        <input id="pwRound2" type="text" size="8">
        <input id="Round2" type="submit" value="Start Second Round" onclick="return submitForm(this)">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/adminControls.js"></script>
</body>
</html>