<!DOCTYPE html>
<html lang="en" style="min-height: 98.5%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body role="document">
<div class="jumbotron text-center">
    <h1>{{ title }}</h1>
    <div class="inlinePad">
        <h2 id="outfitT1"></h2>
        <h1 id="T1Score"></h1>
    </div>
    <div class="v">
        <h1>v</h1>
    </div>
    <div class="inlinePad">
        <h2 id="outfitT2"></h2>
        <h1 id="T2Score"></h1>
    </div>
    <h1 id="timer">15 : 00</h1>
</div>
<div class="main_area container" role="main">

    <section>
        <div class="table-responsive col-md-6" style="display:inline-block; height: 300px; overflow-y: auto;">
            <table class="table">
                <thead>
                <tr>
                    <th class="pad">Team One: </th>
                    <th class="pad">Score: </th>
                    <th class="pad">Net Score: </th>
                    <th class="pad">Kills: </th>
                    <th class="pad">Deaths: </th>
                </tr>
                </thead>
                <tbody id="Team1">
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-6" style="display:inline-block; height: 300px; overflow-y: auto;">
            <table class="table">
                <thead>
                <tr>
                    <th class="pad">Team Two: </th>
                    <th class="pad">Score: </th>
                    <th class="pad">Net Score: </th>
                    <th class="pad">Kills: </th>
                    <th class="pad">Deaths: </th>
                </tr>
                </thead>
                <tbody id="Team2">
                </tbody>
            </table>
        </div>
    </section>
    <br>
    <div class="page-header">
        <h3>Killfeed:</h3>
    </div>
    <section>
        <div style="height: 300px; overflow-y: auto;">
        <table class="table index-table">
            <thead>
            <tr>
                <th>Winner: </th>
                <th>Weapon: </th>
                <th>Loser: </th>
                <th>Points: </th>
            </tr>
            </thead>
            <tbody id="killfeed">
            </tbody>
        </table>
        </div>
    </section>
</div>
<footer class="footer">
    <hr class="feature-divider">
    <p>Created by Dylan C (DylanNZ), Jared H (MonoNZ) and Richard H (Dalordish) of
        <a href="https://fifthcolumngaming.com">[FCLM] Fifth Column</a> ·
        For any changes to the script send a message to DylanNZ on <a href="https://www.reddit.com/message/compose?to=Dylan_NZL">Reddit</a> ·
        Credit to x who developed the original concept
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
