<h1>{{title}}</h1>
<H3>Enter the Tags of the two participating outfits below: </H3>
<form>
    Team One Tag: <input id="teamOneTag" type="text" maxlength="4" size="4" placeholder="FCLM" name="teamOne"><br><br>
    Team Two tag: <input id="teamTwoTag" type="text" maxlength="4" size="4" placeholder="FCLN" name="teamTwo"><br><br>
    <input id="start" type="submit" value="Track These Outfits >>" name="start">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    $('start').submit(function(){
        socket.emit('TeamOneTag', $('teamOneTag').val());
        socket.emit('teamTwoTag', $('teamTwoTag').val());
        return false;
    });
</script>