<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="page-header">
    <h1 style="text-align: center">{{ title }}</h1>
</div>

<div id="adminPanel">
    <!-- Weapon Rules -->
    <div class="col-md-6">
        <h3>Weapon Category Rules:</h3>
        <hr class="feature-divider">
        <div class="table-responsive">
            <p>Current Ruleset: {{catMap}}</p>

            <table class="table">
                <thead>
                    <th>Category</th>
                    <th>Value</th>
                    <th>Update to</th>
                </thead>
                <tbody>
                {{weaponRules}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Class/Interaction Rules -->
    <div class="col-md-6">
        <h3>Class & Interaction Rules:</h3>
        <hr class="feature-divider">
        <div class="table-responsive">
            <p>Current Ruleset: {{pointMap}}</p>
            <table class="table">
                <thead>
                <th>Category</th>
                <th>Value</th>
                <th>Update to</th>
                </thead>
                <tbody>
                {{weaponRules}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="footer">
    <p style="text-align: center">You can only edit the rule set when a match is NOT running</p>
    <hr class="feature-divider">
    <p>Created by Dylan C (DylanNZ), Jared H (MonoNZ) and Richard H (Dalordish) of
        <a href="https://fifthcolumngaming.com">[FCLM] Fifth Column</a> ·
        For any changes to the script send a message to DylanNZ on <a href="https://www.reddit.com/message/compose?to=Dylan_NZL">reddit</a> ·
        Credit to x who developed the original concept
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/adminControls.js"></script>
</body>
</html>