.faction1 {
  color: purple;
}

.faction2 {
  color: blue;
}

.faction3 {
  color: red;
}

#stats {
  text-align: center;
}
.inline {
  display: inline;
}

.pad {
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.inlinePad {
  padding: 20px;
  display: inline-block;
  text-align: center;
  width: 35%;
}

.v {
  display: inline-block;
  text-align: center;
}

#timer {
  text-align: center;
}

#name {
  text-align: left;
}

#outfitScore {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
