.main_area {
    padding: 0px 10px 0 10px;
    font-family: Calibri;
    font-size: 16px;
}

a{
    color: inherit;
    border-bottom: 1px dotted;
    text-decoration: none;
}

a:hover{
    color: inherit;
    border-bottom: 1px dotted;
    text-decoration: none;
}